@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');


$main-color: #2C6444;

* {
	box-sizing: border-box;
//    border: 1px solid green;

}

body {
    font-family: 'Lato', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    .container {
        margin: 0 auto;
        .top-baner {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.player_person {
    cursor: pointer;
    width: 120px;
}

.buttons {
    margin-top: 30px;
}

.modal-section {
    .modal-content{
        padding: 10px;
    }
    .container {
        width: 100%;
    }
    .row {
        padding: 15px 0;
    }
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.rules-section {
    .row {
        margin: 20px;
    }  
}

.player-photo {
    margin-top: 10px;

    img{
        width: 120px;
    }
}

.wepon {
    .container{
        width: 70%;
    }
    h3 {
        background-color: $main-color;
        color: white;
        padding: 10px 0;
        border-radius: 5px;
    }
    img {
        height: 100px;
    }
    .weapon-list{
        border-bottom: 2px solid $main-color;
    }
}

.wepon-name{
    text-transform: capitalize;
}

.score-table{
    h1 {
        font-family: 'Berkshire Swash', cursive;
        color: #c40608;
    }
    .message {
        background-color: $main-color;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
    }
    .current-score {
        background-color: $main-color;
        color: white;
        border-radius: 5px;
        max-width: 70px;
        margin: 0 auto;
        padding: 10px;
    }
    .win {
        font-size: large;
        color: white;
        background-color: red;
        max-width: 100px;
        margin: 0 auto;
    }
    h2 {
        font-weight: bold;
        color: #014682;
    }
}