@import 'grid';


* {
	box-sizing: border-box;
//    border: 1px solid red;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_person {
    cursor: pointer;
    width: 120px;
}


.header {
    .container {
        margin: 0 auto;
        .top-baner {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.buttons {
    margin-top: 30px;
}

.modal-section {
    .container {
        width: 100%;
    }
    .row {
        padding: 15px 0;
    }
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }
}


.player-photo {
    margin-top: 10px;

    img{
        width: 120px;
    }
}

.wepon {
    img {
        height: 100px;
    }
}

